{
  "name": "local.hskify.hsk_manga",
  "description": "Hskify local browser companion",
  "path": "__ABSOLUTE_NATIVE_HOST_PATH__",
  "type": "stdio",
  "allowed_extensions": [
    "hsk-manga-translator@local.hskify"
  ]
}
