{
  "name": "local.hskify.browser",
  "description": "Hskify local browser companion",
  "path": "__ABSOLUTE_NATIVE_HOST_PATH__",
  "type": "stdio",
  "allowed_extensions": [
    "hskify@local.hskify"
  ]
}
